html {
    height: 100%;
}

body {
    /* Photo by <a href="https://unsplash.com/@creatz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Damien Creatz</a> on <a href="https://unsplash.com/s/photos/pastry?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    background: url('/media/home_background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Roboto Serif', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    border: 1px solid rgb(148, 74, 233) !important;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-purple {
    color: rgb(148, 74, 233) !important;
}

.text-white {
    color: white;
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(148, 74, 233) !important;
    border-radius: 5px;
    padding: 5px;
}

.border-purple {
    border: 1px solid rgb(148, 74, 233) !important;
}

.bg-purple {
    background-color: rgb(148, 74, 233);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}