<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item text-purple">By Price</a>
                <a href="" class="dropdown-item text-purple">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-purple">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="breads-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Breads
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="breads-link">
                <a href="" class="dropdown-item text-purple">By Price</a>
                <a href="" class="dropdown-item text-purple">All sauvory</a>
                <a href="" class="dropdown-item text-purple">All sweets</a>
                <a href="{% url 'products' %}?category=breads" class="dropdown-item text-purple">All breads</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cakes
            </a>
            <div class="dropdown-menu border-0 text-purple" aria-labelledby="cakes-link">
                <a href="" class="dropdown-item text-purple">By Price</a>
                <a href="{% url 'products' %}?category=cakes" class="dropdown-item text-purple">All cakes</a>
            </div>
        </li>

        <li class="nav-item dropdown text-purple">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="croissant-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Croissant
            </a>
            <div class="dropdown-menu border-0 text-purple" aria-labelledby="croissant-link">
                <a href="" class="dropdown-item text-purple">By Price</a>
                <a href="" class="dropdown-item text-purple">All sauvory</a>
                <a href="" class="dropdown-item text-purple">All sweets</a>
                <a href="{% url 'products' %}?category=croissants" class="dropdown-item text-purple">All croissant</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="miscellaneous-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Miscellaneous
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="miscellaneous-link">
                <a href="{% url 'products' %}?category=scones" class="dropdown-item text-purple">Scones</a>
                <a href="{% url 'products' %}?category=danish" class="dropdown-item text-purple">Danish</a>
                <a href="{% url 'products' %}?category=cookies" class="dropdown-item text-purple">Cookies</a>
                <a href="{% url 'products' %}?category=tart" class="dropdown-item text-purple">Tart</a>
                <a href="{% url 'products' %}?category=desserts" class="dropdown-item text-purple">Dessert</a>
                <a href="{% url 'products' %}?category=scones,danish,cookies,tart,dessert" class="dropdown-item text-purple">All miscellaneous</a>
            </div>
        </li>
    </ul>
</div>